//
// Colors
//

// General
$primary: #2d89f2;
$secondary: #282f49;
// Text
$headings-color: #282f49;
$body-color: #7e7e8a;

//
// Typography
//

// Fonts
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/Handlee/Handlee-Regular.ttf") format('woff2');
}

@font-face {
  font-family: 'Playwrite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/playwrite_PL/PlaywritePL-Regular.ttf") format('woff2');
}

$font-family-base: "Handlee";
$font-family-quotes: "Playwrite";
$headings-font-family: "Handlee";

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;

// Override default bootstrap breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1200px
);

$container-max-widths: (
        sm: 420px,
        md: 720px,
        lg: 960px,
        xl: 1150px
);